@using TP01.Models
@{
    ViewData["Title"] = "Detalle del Integrante";
    integrante Integrante = ViewBag.Integrante as integrante;
}

<div class="text-center">
    <h2>Información del Integrante</h2>

    @if (Integrante != null)
    {
        <div>
            <img src="@Url.Content("~/images/" + Integrante.obtenerFoto())" />
            
            <h3>@Integrante.obtenerNombre()</h3>
            
            <p>DNI: @ViewBag.DNI</p>
            
            <p><b>DNI del alumno:</b> @ViewBag.DNI</p>
        </div>
    }
    else
    {
        <p>No se encontró al integrante.</p>
    }

    <br />
    <a href="@Url.Action("Index", "Home")">Volver al Inicio</a>
</div>
