@using TP01.Models

	@{
	ViewData["Title"] = "Info Integrante";
    Integrante integrante = ViewBag.Integrante as Integrante;
    
    int dni = 0;
    if (ViewBag.DNI != null)
    {
        dni = (int)ViewBag.DNI;
    }
}

<h2>Información del Integrante</h2>

@if (integrante != null)
{
    <div>
        @if (integrante.obtenerNombre() == "Iara")
        {
              <img src="Iara.png" alt="Foto de Iara">
        }
        else if (integrante.obtenerNombre() == "Magui")
        {
            <img src="Magui.png" alt="Foto de Magui">
        }

        <h3>@integrante.obtenerNombre()</h3>
        <p>DNI: @integrante.obtenerDni()</p>
        <p>Fecha de nacimiento: @integrante.obtenerFechaNacimiento()</p>

        <h4>Familiares:</h4>
        <ul>
            @foreach (string familiar in integrante.obtenerFamiliares())
            {
                <li>@familiar</li>
            }
        </ul>

        <h4>Intereses:</h4>
        <ul>
            @foreach (string interes in integrante.obtenerIntereses())
            {
                <li>@interes</li>
            }
        </ul>
    </div>
}
else
{
    <p>No se encontró el integrante con DNI @dni.</p>
}

<br />
<a href="@Url.Action("Index", "Home")">Volver al Index</a>
